{% extends 'base.html.twig' %}

{% block content %}
<nav class="mt-10 ml-20">
  <ul class="breadcrumb mb-0">
    <li class="breadcrumb-item font-weight-bold font-size-16">Continuer à lire</li>
  </ul>
</nav>
<div class="container-fluid">
                <div class="row">
                    {% for comic in readingComics %}
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                    {% if comic != "" %}
                        <div class="dropdown dropleft with-arrow options position-absolute">
                            <a href="#" onclick="(event) => {event.stopPropagation();}" data-toggle="dropdown" id="avatar-popover-toggle" class=" btn btn-square btn-primary rounded-circle" role="button">
                             <i class="fal fa-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-center" aria-labelledby="avatar-popover-toggle">
                                <a href="{{path('comic',{comic_id: comic.comic.id, page: '0'})}}" class="btn btn-transparent btn-correct-assoc" data-comic-id="{{comic.id}}" role="button">Lire depuis le début</a>
                            </div>
                        </div>
                          <div class="m-20" onclick="window.location.href = '{{comic ? path('comic',{comic_id: comic.comic.id}) : '' }}'">
                              {% if comic.comic.image is defined or comic.comic.series.image is defined %}
                              <img src="{{ comic.comic.image ? comic.comic.image : comic.comic.series.image }}" class="w-full h-auto" />
                              {% endif %}
                              <p class="mt-10 text-center h-50 overflow-hidden">{{ (comic.comic.title is defined and comic.comic.title != "") ? comic.comic.title : comic.comic.name }}</p>
                              <div class="progress-group m-auto w-full">
                                  <div class="progress">
                                      <div class="progress-bar progress-bar-animated" role="progressbar" style="width:{{(comic.page is defined and comic.comic.totalPages > 0 ? ((comic.page / comic.comic.totalPages) * 100) : 0)}}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <span class="progress-group-label">{{ comic.page is defined ? comic.page : 0 }} / {{ comic.comic.totalPages > 0 ? comic.comic.totalPages + 1 : 'X' }}</span>
                              </div>
                          </div>
                  {% endif %}
                  </div>
                    {% endfor %}
                </div>
</div>
{% endblock %}
